<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Persona</servlet-name>
        <servlet-class>Controlador.Persona</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Controlador</servlet-name>
        <servlet-class>Controlador.Controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuarios</servlet-name>
        <servlet-class>Controlador.ControladorUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAgregarUsuarios</servlet-name>
        <servlet-class>Controlador.ControladorAgregarUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEmpleado</servlet-name>
        <servlet-class>Controlador.ControladorEmpleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHabitaciones</servlet-name>
        <servlet-class>Controlador.ControladorHabitaciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorHabitacionesVista</servlet-name>
        <servlet-class>Controlador.ControladorHabitacionesVista</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorReservas</servlet-name>
        <servlet-class>Controlador.ControladorReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAgregarReservas</servlet-name>
        <servlet-class>Controlador.ControladorAgregarReservas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorAdmin</servlet-name>
        <servlet-class>Controlador.ControladorAdmin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Persona</servlet-name>
        <url-pattern>/Persona</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Controlador</servlet-name>
        <url-pattern>/Controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuarios</servlet-name>
        <url-pattern>/ControladorUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAgregarUsuarios</servlet-name>
        <url-pattern>/ControladorAgregarUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEmpleado</servlet-name>
        <url-pattern>/ControladorEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHabitaciones</servlet-name>
        <url-pattern>/ControladorHabitaciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorHabitacionesVista</servlet-name>
        <url-pattern>/ControladorHabitacionesVista</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorReservas</servlet-name>
        <url-pattern>/ControladorReservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAgregarReservas</servlet-name>
        <url-pattern>/ControladorAgregarReservas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorAdmin</servlet-name>
        <url-pattern>/ControladorAdmin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
